.search {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.content {
    height: 65vh;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.lists {
    display: flex;
    margin-bottom: 3rem;
}

.list {
    width: 50%;
    overflow-x: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.list::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.list:first-child {
    margin-right: 1rem;
}

.list > h2 {
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.list > div {
    display: flex;
}

.list li {
    margin-right: 0.2rem;
}

.track .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.track h2 {
    font-weight: 800;
    margin-bottom: 0.5rem;
}

.track .filter {
    color: var(--extra);
    font-size: 1rem;
    font-weight: 800;
}

.track .filter input {
    display: none;
}

.track .filter input:checked + label {
    color: var(--primary);
}

.track .filter span {
    margin: 0 0.5rem;
}

.form {
    height: 6.4rem;
}
